/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BODY */
body{
height:100vh;
background:#2ecc71;
overflow:hidden;
}

/* HEADER */
.header{
position:fixed;
top:0;
left:0;
width:100%;
height:60px;
background:#2ecc71;
color:white;
display:flex;
align-items:center;
padding:0 20px;
gap:10px;
z-index:1000;
}

.header img{
width:30px;
}

/* CONTENEDOR PRINCIPAL */
.main{
position:fixed;
top:60px;
left:0;
width:100%;
height:calc(100vh - 60px);

display:flex;
align-items:center;
justify-content:center;
}

/* LOGIN */
.login{
width:360px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:left;
}

/* LOGO */
.logo{
display:flex;
justify-content:center;
margin-bottom:15px;
}

.logo img{
width:200px;
animation: float 3s ease-in-out infinite;
transition: transform 0.3s ease;
}

/* ANIMACIÓN FLOTANTE */
@keyframes float{
0%{ transform: translateY(0px); }
50%{ transform: translateY(-10px); }
100%{ transform: translateY(0px); }
}

/* EFECTO HOVER (cuando pasas el mouse) */
.logo img:hover{
transform: scale(1.1);
}

/* TEXTOS */
.login h1{
font-size:26px;
margin-bottom:10px;
color:#0b2a4a;
}

.login p{
font-size:14px;
margin-bottom:25px;
color:#6b7280;
}

/* INPUTS */
.login input{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:8px;
}

.login input:focus{
border-color:#2ecc71;
outline:none;
}

/* BOTÓN */
.login button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#2ecc71;
color:white;
font-weight:bold;
cursor:pointer;
}

.login button:hover{
background:#2ecc71;
}

/* LINKS */
.links{
margin-top:15px;
text-align:center;
font-size:13px;
}

.links a{
color:#2ecc71;
text-decoration:none;
font-weight:bold;
}