<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catalina | Login</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<div class="header">
  <img src="/static/images/Logosimple.png">
  <span>Catalina</span>
</div>

<div class="main">

  <div class="login">

    <div class="logo">
      <img src="/static/images/Logosimple.png">
    </div>

    <h1>Iniciar sesión</h1>
    <p>Universidad Católica de Colombia</p>

    <form id="loginForm">

      <input type="email" id="email" placeholder="Correo institucional" required>

      <input type="password" id="password" placeholder="Contraseña" required>

      <button type="submit">Ingresar</button>

    </form>

    <div class="links">
      ¿No tienes cuenta?
      <a href="/register">Crear cuenta</a>
    </div>

  </div>

</div>

<script>
document.getElementById("loginForm").addEventListener("submit", async function(e){

  e.preventDefault()

  const email = document.getElementById("email").value
  const password = document.getElementById("password").value

  const response = await fetch("/login",{
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify({
      username: email,
      password: password
    })
  })

  const data = await response.json()

  if(response.ok){
    window.location.href="/chat"
  }else{
    alert(data.detail)
  }

})
</script>

</body>
</html>